@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --darkgray: rgba(237, 237, 237, 1);
  --lightgray: rgba(246, 246, 246, 1);
  --subheading: rgba(144, 144, 144, 1);
  --lightblack: rgba(53, 53, 53, 1);
  --darkblack: rgba(33, 28, 36, 1);
  --mainblack: rgba(0, 0, 0, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--foreground);
  color: var(--foreground);
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Apply globally */
body {
  font-family: "SF Pro Display", sans-serif;
}